**/.DS_Store
*.o
a.out
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/LinearRegressionLib/v15/Browse.VC.db
/.vs/LinearRegressionLib/v15/.suo
/LinearRegressionLib/.vs/LinearRegressionLib/v15/ipch/AutoPCH/TESTLINEARREGRESSIONLIB-7c1d4194/TESTB-b903dce7/TESTB.ipch
/LinearRegressionLib/.vs/LinearRegressionLib/v15/ipch/AutoPCH/TESTLINEARREGRESSIONLIB-7c1d4194/GENERATOR-2bd5c0ac/GENERATOR.ipch
/LinearRegressionLib/.vs/LinearRegressionLib/v15/ipch/AutoPCH/LINEARREGRESSIONLIB-fe9ee154/LINREG-a3ec179d/LINREG.ipch
/LinearRegressionLib/.vs/LinearRegressionLib/v15/Browse.VC.opendb
/LinearRegressionLib/.vs/LinearRegressionLib/v15/Browse.VC.db
/LinearRegressionLib/.vs/LinearRegressionLib/v15/.suo
/LinearRegressionLib/ReadMe.txt
/LinearRegressionLib/LinearRegressionLib.vcxproj.filters
/LinearRegressionLib/LinearRegressionLib.vcxproj
/LinearRegressionLib/LinearRegressionLib.sln
/LinearRegressionLib/Debug/TestLinearRegressionLib.pdb
/LinearRegressionLib/Debug/TestLinearRegressionLib.ilk
/LinearRegressionLib/Debug/TestLinearRegressionLib.exe
/LinearRegressionLib/Debug/polyreg.obj
/LinearRegressionLib/Debug/linreg.obj
/LinearRegressionLib/Debug/LinearRegressionLib.pdb
/LinearRegressionLib/Debug/LinearRegressionLib.log
/LinearRegressionLib/Debug/LinearRegressionLib.lib
/LinearRegressionLib/Debug/LinearRegressionLib.idb
/LinearRegressionLib/Debug/LinearRegressionLib.Build.CppClean.log
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/LinearRegressionLib.lastbuildstate
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/Lib.command.1.tlog
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/Lib-link.write.1.tlog
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/Lib-link.read.1.tlog
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/CL.write.1.tlog
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/CL.read.1.tlog
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/CL.command.1.tlog
/TestLinearRegressionLib/TestLinearRegressionLib.vcxproj.filters
/TestLinearRegressionLib/TestLinearRegressionLib.vcxproj
/TestLinearRegressionLib/Debug/vc141.pdb
/TestLinearRegressionLib/Debug/vc141.idb
/TestLinearRegressionLib/Debug/TestLinearRegressionLib.log
/TestLinearRegressionLib/Debug/TestLinearRegressionLib.Build.CppClean.log
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/TestLinearRegressionLib.lastbuildstate
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/link.write.1.tlog
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/link.read.1.tlog
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/link.command.1.tlog
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/CL.write.1.tlog
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/CL.read.1.tlog
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/CL.command.1.tlog
/TestLinearRegressionLib/Debug/testb.obj
/.vs
/TestLinearRegressionLib/TestLinearRegressionLib.vcxproj.filters
/TestLinearRegressionLib/TestLinearRegressionLib.vcxproj
/TestLinearRegressionLib/Debug/vc141.pdb
/TestLinearRegressionLib/Debug/vc141.idb
/TestLinearRegressionLib/Debug/TestLinearRegressionLib.log
/TestLinearRegressionLib/Debug/TestLinearRegressionLib.Build.CppClean.log
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/TestLinearRegressionLib.lastbuildstate
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/link.write.1.tlog
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/link.read.1.tlog
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/link.command.1.tlog
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/CL.write.1.tlog
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/CL.read.1.tlog
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog/CL.command.1.tlog
/TestLinearRegressionLib/Debug/TestLine.840D1342.tlog
/TestLinearRegressionLib/Debug/testb.obj
/TestLinearRegressionLib/Debug
/TestLinearRegressionLib
/LinearRegressionLib/ReadMe.txt
/LinearRegressionLib/LinearRegressionLib.vcxproj.filters
/LinearRegressionLib/LinearRegressionLib.vcxproj
/LinearRegressionLib/LinearRegressionLib.sln
/LinearRegressionLib/Debug/TestLinearRegressionLib.pdb
/LinearRegressionLib/Debug/TestLinearRegressionLib.ilk
/LinearRegressionLib/Debug/TestLinearRegressionLib.exe
/LinearRegressionLib/Debug/polyreg.obj
/LinearRegressionLib/Debug/linreg.obj
/LinearRegressionLib/Debug/LinearRegressionLib.pdb
/LinearRegressionLib/Debug/LinearRegressionLib.log
/LinearRegressionLib/Debug/LinearRegressionLib.lib
/LinearRegressionLib/Debug/LinearRegressionLib.idb
/LinearRegressionLib/Debug/LinearRegressionLib.Build.CppClean.log
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/LinearRegressionLib.lastbuildstate
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/Lib.command.1.tlog
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/Lib-link.write.1.tlog
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/Lib-link.read.1.tlog
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/CL.write.1.tlog
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/CL.read.1.tlog
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog/CL.command.1.tlog
/LinearRegressionLib/Debug/LinearRe.173D7D9B.tlog
/LinearRegressionLib/Debug
/LinearRegressionLib/.vs/LinearRegressionLib/v15/ipch/AutoPCH/TESTLINEARREGRESSIONLIB-7c1d4194/TESTB-b903dce7/TESTB.ipch
/LinearRegressionLib/.vs/LinearRegressionLib/v15/ipch/AutoPCH/TESTLINEARREGRESSIONLIB-7c1d4194/TESTB-b903dce7
/LinearRegressionLib/.vs/LinearRegressionLib/v15/ipch/AutoPCH/TESTLINEARREGRESSIONLIB-7c1d4194/GENERATOR-2bd5c0ac/GENERATOR.ipch
/LinearRegressionLib/.vs/LinearRegressionLib/v15/ipch/AutoPCH/TESTLINEARREGRESSIONLIB-7c1d4194/GENERATOR-2bd5c0ac
/LinearRegressionLib/.vs/LinearRegressionLib/v15/ipch/AutoPCH/TESTLINEARREGRESSIONLIB-7c1d4194
/LinearRegressionLib/.vs/LinearRegressionLib/v15/ipch/AutoPCH/LINEARREGRESSIONLIB-fe9ee154/LINREG-a3ec179d/LINREG.ipch
/LinearRegressionLib/.vs/LinearRegressionLib/v15/ipch/AutoPCH/LINEARREGRESSIONLIB-fe9ee154/LINREG-a3ec179d
/LinearRegressionLib/.vs/LinearRegressionLib/v15/ipch/AutoPCH
/LinearRegressionLib/.vs/LinearRegressionLib/v15/Browse.VC.opendb
/LinearRegressionLib/.vs/LinearRegressionLib/v15/Browse.VC.db
/LinearRegressionLib/.vs/LinearRegressionLib/v15/.suo
/LinearRegressionLib/.vs/LinearRegressionLib/v15
/LinearRegressionLib
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/LinearRegressionLib/v15/Browse.VC.db
/.vs/LinearRegressionLib/v15/.suo
/.vs/LinearRegressionLib/v15
/.vs
