**/.DS_Store
*.o
a.out
/ComputationalLib
/.vs

tests/CalibrateSinTest
tests/LinearTest
tests/Makefile
tests/MinTest
tests/PolyTest

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
src/Makefile
src/cmake_install.cmake
src/libComputationalLib.a
tests/CTestTestfile.cmake
tests/cmake_install.cmake

*.csv
